# Python

pycache/ *.pyc *.pyo *.pyd .Python env/ venv/ ENV/ env.bak/ venv.bak/


# Environment variables

.env

# Logs

*.log

# IDE

.idea/ .vscode/

# Misc

*.DS_Store

/_pycache_
/__pycache__
__pycache__
_pycache_/
venv
vectorstore/
data/