fastapi
uvicorn[standard]
langchain
langchain-community
langchain-google-genai
langchain-huggingface
faiss-cpu
sentence-transformers
pypdf
pydantic-settings
python-dotenv
PyMuPDF
google-generativeai
Pillow