fastapi
uvicorn[standard]
langchain
langchain-community
langchain-google-genai
langchain-huggingface
faiss-cpu
sentence-transformers
pypdf
pydantic-settings
python-dotenv
PyMuPDF
google-generativeai
Pillow
camelot-py[cv]
flask-socketio
eventlet
soundfile
torch
transformers
indic-transliteration
deep_translator
numpy
flask-sock
faster-whisper
pyaudio
gevent
gevent-websocket